.taskLists header {
  padding: 10px 50px 25px;
  font-size: 36px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.divider {
  border-top: 2px solid #5d79a5;
  margin: 0 50px 0;
}
.taskOverview {
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  color: aliceblue;
  padding: 10px 10px 10px;
}
.taskOverview:hover {
  cursor: pointer;
}
.taskOverview .title {
  font-size: 20px;
  /* font-weight: 600; */
}
.taskOverview .details {
  margin-left: 3%;
}
.taskOverview .date {
  margin-left: 10%;
}

.taskList {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.taskList header {
  padding: 10px 30px 10px;
  font-size: 28px;
  color: #f0f8ff;
  width: fit-content;
}

.taskListToolbar {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.task {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: aliceblue;
}

.task{
  top: auto !important;
  left: auto !important;
}

.taskName {
  width: calc(100% - 150px);
  max-width: calc(100% - 150px);
  text-align: left;
  margin-left: 15px;
  word-break: break-all;
  white-space: nowrap;
  text-wrap: nowrap;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.taskName::-webkit-scrollbar {
  display: none;
}

.taskDragHandle {
  position: absolute !important;
  right: 25px;
}

.taskDragHandle:hover {
  cursor: grab;
}
.taskDragHandle:active {
  cursor: grabbing;
}

.draggable {
  top: auto !important;
  left: auto !important;
  position: static !important;
}

.deleteTask {
  position: absolute;
  right: 5px;
}
