.leftPanel {
  width: 125px;
  height: 100vh;
  background-color: var(--dark-dark-blue-background);
  display: flex;
  flex-direction: column;
  align-items: end;
}
.bookmarkContainer {
  margin-top: 25%;
  position: relative;
  height: 100px;
}
.bookmark {
  fill: var(--light-blue-accent);
  filter: drop-shadow(-2px 5px 5px black);
}
.bookmark:hover {
  cursor: pointer;
}
.icon {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(4%, -50%) !important;
  height: 50px !important;
  width: 50px !important;
  color: var(--dark-dark-blue-background);
}
.icon:hover {
  cursor: pointer;
}
