@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}

body {
  display: flex;
  padding: 0;
  height: 100vh;
}

.rightPanel {
  filter: drop-shadow(-1px 0px 4px black);
  background-color: var(--dark-blue-background);
  width: calc(100% - 125px);
  height: 100vh;
}

:root {
  --dark-dark-blue-background: #171e29;
  --dark-blue-background: #252e40;
  --dark-highlight : #3a4c67;
  --light-blue-accent: #516a90;
  --light-blue-border: #5d79a5;
  --text-highlight: #98BEF9;
  --dark-border: #708397;
  --white-text: #f0f8ff;
  --gray-text: #aaa;
}