@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}

body {
  display: flex;
  padding: 0;
  height: 100vh;
}

.rightPanel {
  filter: drop-shadow(-1px 0px 4px black);
  background-color: #252e40;
  width: 100%;
  height: 100%;
}
